.teamimg {
    width: 400px;
    height: 350;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    text-align: center;
}


.updated_est {
    text-align: center;
}

#map, #map2 {
    height: 432px; 
}

#chart, #chart2{
    height: 500px;

}

a#teamlink {
    align-self: center;

}

.bbox {
    border-style: solid;
    border-radius: 100 50;
    border-color: gray;
    border-width: thin;
}   