.teamimg {
    max-width: 400px;
    max-height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    object-fit: scale-down;
}

p {
    text-align: center;
}

div a {
    text-align: center;
}

.updated_est {
    text-align: center;
}

#map {
    height: 432px; 
}


th, td {
    border-bottom: 1px solid #ddd;
  }

