<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}"-->
    <link rel="stylesheet" href= "../static/styles.css">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>location-location-location</title>
</head>
<body>
    <nav class="nav navbar navbar-default">
        <div class="container-fluid navbar-custom">
  
          
          <div class="row dropback">
            <div class="nav navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="col-xs-9 phone-nav">
                <a class="navbar-brand" href="index.html" id="logo">Home</a>
              </div>
            </div>
  
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right navbar-right-custom">
                <li><a href="rentals.html">Rentals</a></li>
                <li><a href="team.html">Team</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

  <div class=row id=headermess>
    <h3 class = col-md-12 style= text-align:center;>
      Looking to move? Got a new job? Not sure what you can afford?
    </h3>
    <h4 class = col-md-12 style= text-align:center;>
      Use the tools below to estimate your income and determine whether or not you can afford to buy a house in a specific metro area! 
    </h4>
    
  </div>

  <br>


  <div class="container" style="text-align: center;">
    <div class="row margin-top-50">
      <div class="col-md-4">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class= "dropdown list-group-item" >
                      <label>Metro Area</label><br>
                      <select id="city" name="city" onchange="newMarker(this.value)">
                        <option value="New York, NY">New York, NY</option>
                        <option value="Los Angeles-Long Beach-Anaheim, CA">Los Angeles-Long Beach-Anaheim, CA</option>
                        <option value="Chicago, IL">Chicago, IL</option>
                        <option value="Dallas-Fort Worth, TX">Dallas-Fort Worth, TX</option>
                        <option value="Philadelphia, PA">Philadelphia, PA</option>
                        <option value="Houston, TX">Houston, TX</option>
                        <option value="Washington, DC">Washington, DC</option>
                        <option value="Miami-Fort Lauderdale, FL">Miami-Fort Lauderdale, FL</option>
                        <option value="Atlanta, GA">Atlanta, GA</option>
                        <option value="Boston, MA">Boston, MA</option>
                        <option value="San Francisco, CA">San Francisco, CA</option>
                        <option value="Detroit, MI">Detroit, MI</option>
                        <option value="Riverside, CA">Riverside, CA</option>
                        <option value="Phoenix, AZ">Phoenix, AZ</option>
                        <option value="Seattle, WA">Seattle, WA</option>
                        <option value="Minneapolis-St Paul, MN">Minneapolis-St Paul, MN</option>
                        <option value="San Diego, CA">San Diego, CA</option>
                        <option value="St. Louis, MO">St. Louis, MO</option>
                        <option value="Tampa, FL">Tampa, FL</option>
                        <option value="Baltimore, MD">Baltimore, MD</option>
                        <option value="Denver, CO">Denver, CO</option>
                        <option value="Pittsburgh, PA">Pittsburgh, PA</option>
                        <option value="Portland, OR">Portland, OR</option>
                        <option value="Charlotte, NC">Charlotte, NC</option>
                        <option value="Sacramento, CA">Sacramento, CA</option>
                        <option value="San Antonio, TX">San Antonio, TX</option>
                        <option value="Orlando, FL">Orlando, FL</option>
                        <option value="Cincinnati, OH">Cincinnati, OH</option>
                        <option value="Cleveland, OH">Cleveland, OH</option>
                        <option value="Kansas City, MO">Kansas City, MO</option>
                        <option value="Las Vegas, NV">Las Vegas, NV</option>
                        <option value="Columbus, OH">Columbus, OH</option>
                        <option value="Indianapolis, IN">Indianapolis, IN</option>
                        <option value="San Jose, CA">San Jose, CA</option>
                        <option value="Austin, TX">Austin, TX</option>
                        <option value="Virginia Beach, VA">Virginia Beach, VA</option>
                        <option value="Nashville, TN">Nashville, TN</option>
                        <option value="Providence, RI">Providence, RI</option>
                        <option value="Milwaukee, WI">Milwaukee, WI</option>
                        <option value="Jacksonville, FL">Jacksonville, FL</option>
                        <option value="Memphis, TN">Memphis, TN</option>
                        <option value="Oklahoma City, OK">Oklahoma City, OK</option>
                        <option value="Louisville-Jefferson County, KY">Louisville-Jefferson County, KY</option>
                        <option value="Hartford, CT">Hartford, CT</option>
                        <option value="Richmond, VA">Richmond, VA</option>
                        <option value="New Orleans, LA">New Orleans, LA</option>
                        <option value="Buffalo, NY">Buffalo, NY</option>
                        <option value="Raleigh, NC">Raleigh, NC</option>
                        <option value="Birmingham, AL">Birmingham, AL</option>
                        <option value="Salt Lake City, UT">Salt Lake City, UT</option>
                        <option value="Rochester, NY">Rochester, NY</option>
                        <option value="Grand Rapids, MI">Grand Rapids, MI</option>
                        <option value="Tucson, AZ">Tucson, AZ</option>
                        <option value="Urban Honolulu, HI">Urban Honolulu, HI</option>
                        <option value="Tulsa, OK">Tulsa, OK</option>
                        <option value="Fresno, CA">Fresno, CA</option>
                        <option value="Worcester, MA">Worcester, MA</option>
                        <option value="Stamford, CT">Stamford, CT</option>
                        <option value="Albuquerque, NM">Albuquerque, NM</option>
                        <option value="Albany, NY">Albany, NY</option>
                        <option value="Omaha, NE">Omaha, NE</option>
                        <option value="New Haven, CT">New Haven, CT</option>
                        <option value="Bakersfield, CA">Bakersfield, CA</option>
                        <option value="Knoxville, TN">Knoxville, TN</option>
                        <option value="Greenville, SC">Greenville, SC</option>
                        <option value="Ventura, CA">Ventura, CA</option>
                        <option value="Allentown, PA">Allentown, PA</option>
                        <option value="El Paso, TX">El Paso, TX</option>
                        <option value="Baton Rouge, LA">Baton Rouge, LA</option>
                        <option value="Dayton, OH">Dayton, OH</option>
                        <option value="Columbia, SC">Columbia, SC</option>
                        <option value="Greensboro, NC">Greensboro, NC</option>
                        <option value="Akron, OH">Akron, OH</option>
                        <option value="North Port-Sarasota-Bradenton, FL">North Port-Sarasota-Bradenton, FL</option>
                        <option value="Little Rock, AR">Little Rock, AR</option>
                        <option value="Stockton, CA">Stockton, CA</option>
                        <option value="Charleston, SC">Charleston, SC</option>
                        <option value="Syracuse, NY">Syracuse, NY</option>
                        <option value="Colorado Springs, CO">Colorado Springs, CO</option>
                        <option value="Winston-Salem, NC">Winston-Salem, NC</option>
                        <option value="Wichita, KS">Wichita, KS</option>
                        <option value="Springfield, MA">Springfield, MA</option>
                        <option value="Fort Myers, FL">Fort Myers, FL</option>
                        <option value="Boise City, ID">Boise City, ID</option>
                        <option value="Toledo, OH">Toledo, OH</option>
                        <option value="Madison, WI">Madison, WI</option>
                        <option value="Lakeland, FL">Lakeland, FL</option>
                        <option value="Ogden, UT">Ogden, UT</option>
                        <option value="Daytona Beach, FL">Daytona Beach, FL</option>
                        <option value="Des Moines, IA">Des Moines, IA</option>
                        <option value="Jackson, MS">Jackson, MS</option>
                        <option value="Youngstown, OH">Youngstown, OH</option>
                        <option value="Augusta, GA">Augusta, GA</option>
                        <option value="Scranton, PA">Scranton, PA</option>
                        <option value="Harrisburg, PA">Harrisburg, PA</option>
                        <option value="Melbourne, FL">Melbourne, FL</option>
                        <option value="Chattanooga, TN">Chattanooga, TN</option>
                        <option value="Spokane, WA">Spokane, WA</option>
                        <option value="Provo, UT">Provo, UT</option>
                        <option value="Durham, NC">Durham, NC</option>
                        <option value="Port St. Lucie, FL">Port St. Lucie, FL</option>
                        <option value="Fort Collins, CO">Fort Collins, CO</option>
                        <option value="Boulder, CO">Boulder, CO</option>
                        <option value="Greeley, CO">Greeley, CO</option>
                        <option value="Gainesville, GA">Gainesville, GA</option>

                    </select>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </aside>
      </div>
    
      <div class="col-md-8" id="map2">

      </div>
    </div>
    </div>
   
 

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/config.js"></script>
      <script src="../static/data.js"></script>
      <script src="../static/rentals.js"></script>
</body>
</html>