<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}"-->
    <link rel="stylesheet" href= "../static/styles.css">
    <title>location-location-location</title>
</head>
<body>
    <nav class="nav navbar navbar-default">
        <div class="container-fluid navbar-custom">
  
          
          <div class="row dropback">
            <div class="nav navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="col-xs-9 phone-nav">
                <a class="navbar-brand" href="index.html" id="logo">Home</a>
              </div>
            </div>
  
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right navbar-right-custom">
                <li><a href="rentals.html">Rentals</a></li>
                <li><a href="charts.html">Charts</a></li>
                <li><a href="team.html">Team</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class= "container">
          <div class="row">

            <div class="col-md-4">
                <!--img src= "{{ url_for('static',filename='randy.jpeg')}}"-->
                <img class="teamimg" src="../static/randy.jpeg">
               
            <p> <br>Data Scientist with a background in supply chain and logistics with skills in Excel, Python, SQL and Tableau from Case Western Reserves’ Data Science Bootcamp. Passionate about learning, has a strong desire for knowledge and feels that continuous learning is a way of life.<br><br>
              History of collaborating with partners within the supply chain to improve forecasts, stabilize inventory variability and reduce freight costs. Thrives in environments where little to no direction or supervision; and solving complex problems with minimal assistance that others may struggle to solve. <br><br>An APICS Certified Supply Chain Professional with an MBA and a Green Belt in Lean Six Sigma.</p>
            <p><a id =teamlink href="https://www.linkedin.com/in/randydettmercscpmba/" target="_blank" >Visit Randy's Linked In</a></p>
            </div> 

              
  
          <div class="col-md-4">
                  <!--img src= "{{ url_for('static',filename='val.jpeg')}}"-->
                  <img class="teamimg" src="../static/val.jpeg">
                  
                  <p><br>Data analyst with a passion for using Python, Pandas, Javascript, and Leaflet, as well as creating data visualizations. Experience in business analysis, process improvement, project management, and using the agile methodology. <br><br>Following boot camp, Val will be looking to join a company where she can provide insights and conclusions that allow for informed decisions to drive growth.<br><br>Certifications include Case Western's Data Analytics Bootcamp, Prosci Organizational Change Management, and Weatherhead's Emotionally Intelligent Leader. Also, a PMI-certified project manager with an MBA.</p>
                  <p><a id =teamlink href="https://www.linkedin.com/in/vlobas/" target="_blank" >Visit Val's Linked In</a></p>
              </div>

            

            <div class="col-md-4" >
                <!--img src= "{{ url_for('static',filename='hunter2.jpeg')}}"-->
                <img class="teamimg" src="../static/hunter.jpeg">
                <p><br>Healthcare analyst who loves the thrill of solving a puzzle and connecting seemingly unrelated dots. Diverse background in basic science, research, operations, and healthcare finance with a focus on value-based contracting. <br><br> Hunter is looking to make a difference through data, specifically creating change by supporting policy research to level the playing field for all of us. <br><br>Techical skills include advanced SQL with experience in several RDMS, python, and SAS. Soft skills include exceptional collaboration, ability to translate complex ideas into simple concepts for the less technically inclined of us, and the ability to thrive in a self-managing environment. </p>
               <p><a id =teamlink href="https://www.linkedin.com/in/hunter-block-beach-96401267/" target="_blank" >Visit Hunter's Linked In</a></p>
            </div>
          </div>
      </div>


      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>